body {
    background: #fc069ef2;
    padding: 0px;
    height: 2200px;
}

/*CABEZERA*/
header {
    max-width: 1000px;
    min-height: 180px;
    margin: 0 auto;
    border-radius: 20px 20px 0 0;
   background: #fff;
}

#banner {
    max-width: 1000px;
    min-height: 200px;
    background: #f3eeee;
    margin: 0 auto;
}

#logo img {
    width: 967px;
    height: 220px;
    border-radius: 400px;
    object-fit: contain;
    animation: 1s entradalogo 1;
}

#banner img {
    width: 1000px;
    height: 330px;
    object-fit: unset;
}

#logo {
    width: 320px;
    float: center;
    margin-top: 20px;
    margin-left: 20px;
    animation: 1s entradalogo 1;
}

#logo img:hover {
    filter: opacity(0.8);
}

/*CABEZERA*/

/*MENU-HORIZONTAL*/
#meu-h {
    background: #000;
    width: 1000px;
    height: 50px;
}

#menu-h ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#menu-h a {
    color: #fff;
    display: block;
    padding: 20px;
    text-decoration: none;
    background: #000;
    font-family: arial;
    font-size: 18px;
}

#menu-h a:hover {
    background: #069;
}


#menu-h ul ul {
    display: none;
    position: absolute;
}

#menu-h ul li:hover ul {
    display: block;
}

/*MENU-HORIZONTAL*/






/*CONTENIDO*/
#contenedor {
    width: 1000px;
    height: 1500px;
    background: #fff;
    margin: 0 auto;
}

h1{
    font-size: 35px;
    text-align: center;
}

.conteiner-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grap: 10px;
}

.item {
    border-radius: 30px;

}

.item:hover {
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.20);
}

.ifo-product {
    padding: 15px 30px;
}

.item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.item figure {
    overflow: hidden;

}

.item:hover img {
    transform: scale(1.2);
}

.info-product {
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    grap: 10px;
}

.price {
    font-size: 18px;
    font-weight: 900;
}

.info-product button {
    border: none;
    background: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

/*CONTENIDO*/

/*PIE DE PAGINA*/
footer {
    max-width: 1000px;
    height: 150px;
    background: #000;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    color: #fff;
    text-align: justify;
    padding: 30px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 29px;
}

/*PIE DE PAGINA*/

/*KEYFRAMES*/

@keyframes entradalogo {
    0% {
        transform: translateY(-200px);
    }
}



/*KEYFRAMES*/